# CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @AlexanderJ-Carter

/.github/SECURITY.md @AlexanderJ-Carter
/.github/workflows/ @AlexanderJ-Carter
/folio/ @AlexanderJ-Carter
/folio/public/.well-known/ @AlexanderJ-Carter
/gateway/ @AlexanderJ-Carter
